<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043745726858-aem9s3freu0hfio66mui2mu8ofrqhqrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043745726858-aem9s3freu0hfio66mui2mu8ofrqhqrf</string>
	<key>API_KEY</key>
	<string>AIzaSyAil8at4zCO5cZfil4Cg11X3i5_xUy1qV0</string>
	<key>GCM_SENDER_ID</key>
	<string>1043745726858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ins.reports.analyzer.insta.followers.tracker</string>
	<key>PROJECT_ID</key>
	<string>ins-reports-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>ins-reports-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043745726858:ios:7126b9bedce5f00ee12873</string>
	<key>DATABASE_URL</key>
	<string>https://ins-reports-prod.firebaseio.com</string>
</dict>
</plist>