<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222094529171-9oe9tmh4s2jhia9ap1e05dcukm7bj18j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222094529171-9oe9tmh4s2jhia9ap1e05dcukm7bj18j</string>
	<key>API_KEY</key>
	<string>AIzaSyD2SPBuYIJsAhTZgJ45V3NcKftRGxZy4VY</string>
	<key>GCM_SENDER_ID</key>
	<string>222094529171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ins.reports.analyzer.instagram.tracker</string>
	<key>PROJECT_ID</key>
	<string>ins-reports-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>ins-reports-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222094529171:ios:eacae246fc6a52f2f3b366</string>
	<key>DATABASE_URL</key>
	<string>https://ins-reports-dev.firebaseio.com</string>
</dict>
</plist>